.about-me__block.feedback .about-me__header{
  font-family: "OpenSansRegular";
  letter-spacing: 0;
  font-weight: 400;
}

.feedback-form .label-name {
  display: block;
  margin-bottom: 7px;
}


.feedback-form {
  max-width: 403px;
  margin: 0 auto;
  font-family: "OpenSansRegular";
}

.feedback-form .form-group {
  float: left;
}

.feedback-form .input-field:focus {
  outline: 0;
}

.feedback-form .input-field {
  font-family: "OpenSansLight";
  padding: 9px 8px 13px 8px;
  width: 192px;
  font-size: 12px;
  color: #c7c6c6;
  border: 1px solid #c7c6c6;
  border-radius: 3px;
  background-image: -moz-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35),inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
}

.feedback-form .input-field:focus {
  background: #fff;
}

.feedback-form .form-group:first-child {
  margin-right: 19px;
  margin-bottom: 14px;
}

.feedback-form .form-group {
  margin-bottom: 10px;
}

.feedback-form .form-group-message {
  margin-bottom: 10px;
}

.feedback-form .textarea-field:focus {
  outline: 0;
}

.feedback-form .textarea-field {
  font-family: "OpenSansLight";
  letter-spacing: 0;
  width: 403px;
  height: 182px;
  padding: 10px;
  letter-spacing: -0.4px;
  color: #c7c6c6;
  font-size: 12px;
  resize: none;
  border-radius: 3px;
  border: 1px solid #c7c6c6;
   background-image: -moz-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35),inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
}

.feedback-form .textarea-field:focus {
  background: #fff;
}

.captcha-title {
  letter-spacing: 0px;
  margin-bottom: 7px;
  display: block;
}

.captcha-img {
  float: left;
  width: 191px;
  height: 80px;
  border: 1px solid #d6d5d3;
  border-radius: 4px;
  background-image: -moz-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
  margin-right: 20px;
}

.captcha-image {
  margin-left: 9px;
  margin-top: 6px;
}


.form-group-captcha .captcha-code:focus {
  outline: 0;
}


.form-group-captcha .captcha-code {
  font-family: "OpenSansLight";
  color: #c7c6c6;
  font-size: 12px;
  float: left;
  margin-top: 21px;
  border: 1px solid #d6d5d3;
  border-radius: 3px;
  background-image: -moz-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35),inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
  padding: 6px 8px 7px 8px;
  width: 192px;
}

.form-group-captcha .captcha-code:focus {
  background: #fff;
}

.form-group-captcha {
  margin-bottom: 31px;
}

.form-group-captcha .btn:focus {
  outline: 0;
}


.btn .btn-clear,
.btn .btn-send {
  border-radius: 5px;
  max-width: 175px;
  outline: 0;
}

.btn .btn-send {
  font-family: "OpenSansSemiBold";
  border: 1px solid #49b294;
  background-image: -moz-linear-gradient( 90deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  color: #1e7465;
  padding: 7px 22px;
  line-height: 22px;
}

.btn .btn-send:hover {
  background-color: #4abb9f;
  background-image: -moz-linear-gradient( 90deg, rgb(58,160,135) 0%, rgb(95,220,189) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(58,160,135) 0%, rgb(95,220,189) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(58,160,135) 0%, rgb(95,220,189) 100%);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
}

.btn .btn-clear {
  font-family: "OpenSansSemiBold";
  line-height: 22px;
  padding: 7px 27px;
  background-image: -moz-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
  border: 1px solid #b9b9b9;
}

.btn-group {
  max-width: 345px;
  margin: 0 auto;
}


.btn .btn-clear:hover {
  background-color: #d6d4d4;
  background-image: -moz-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
}


.about-me__block.feedback .about-me__desc {
  min-height: 786px;
}


.input-field.error {
  box-shadow: 0 0 2px 1px rgba(203,105,69,.7);
}


.fake-input.error {
  box-shadow: 0 0 2px 1px rgba(203,105,69,.7);
}

.textarea-field.error {
  box-shadow: 0 0 2px 1px rgba(203,105,69,.7);
}
