/*GENERAL*/

.row:before, .row:after  {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

img {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url(../img/bg-body.jpg) center center  no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "OpenSansSemiBold", sans-serif;
  font-size: 14px;
  height: auto !important;
  min-height: 100%;
  position: relative;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/*END GENERAL*/



/*HEADER*/
.big-container {
  min-width: 960px;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.main-header {
  min-width: 1200px;
  background-color: #727070;
  border-bottom: 7px solid #fff;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 34px;
}

.main-header .main-header-logo {
  padding: 10px 0 8px 10px;
}

.main-header-logo .logo-link {
  display: block;
}

.main-header .social {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-header .social-block {
  padding: 25px 0 25px 0;
}

.social .social-btn {
  display: inline-block;
  vertical-align: top;
  width: 38px;
  height: 40px;
  margin-left: 13px;
  border-radius: 50%;
}

.social .social-btn:first-child {
  margin-left: 0;
}

.social-btn .social-btn-link {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../img/spritebox-sprite.png) no-repeat;
}

.social-btn-link.social-btn-fb {
  background-position: -6px -7px;
}

.social-btn-link.social-btn-fb:hover {
  background-position: -53px -7px;
}

.social-btn-link.social-btn-vk {
  background-position: -99px -7px;
}

.social-btn-link.social-btn-vk:hover {
  background-position: -143px -7px;
}

.social-btn-link.social-btn-tw {
  background-position: -189px -7px;
}

.social-btn-link.social-btn-tw:hover {
  background-position: -236px -7px;
}


.social-btn-link.social-btn-gh {
  background-position: -283px -7px;
}

.social-btn-link.social-btn-gh:hover {
  background-position: -328px -7px;
}
/*END HEADER*/

.main-content {
  padding-bottom: 60px;
}

/* SIDEBAR */

.sidebar {
  width: 250px;
}

.navigation {
  overflow: hidden;
  margin-bottom: 35px;
}

.about-me {
  width: 650px;
}

.navigation-list .navigation-list-link {
  display: block;
  font-family: "OpenSansSemiBold";
  text-decoration: none;
  background-color: #f5f3f3;
  color: rgb(114, 112, 112);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
  font-size: 20px;
  line-height: 22px;
  padding: 16px 20px 16px 29px;
  background-image: -moz-linear-gradient( 90deg, rgb(231,229,228) 0%, rgb(250,249,249) 94%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,229,228) 0%, rgb(250,249,249) 94%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,229,228) 0%, rgb(250,249,249) 94%, rgb(255,255,255) 100%);
  box-shadow: 0px 2px 1px 0px rgba(17, 17, 17, 0.07),inset 0px -2px 3px 0px rgba(45, 45, 45, 0.05);
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bcbcbc;
  border-top: 1px solid #c5c5c5;
}

.navigation-list-item:first-child .navigation-list-link {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.navigation-list .navigation-list-link:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
}

.navigation-list .navigation-list-link.active {
  border-left: 1px solid #45b096;
  border-top: 1px solid #66dbbe;
  border-right: 1px solid #46b297;
  border-bottom: 1px solid #2fa185;
  background-color: #8accae;
  color: #1e7465;
  background-image: -moz-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
}

.navigation-list .navigation-list-link.active:active {
  background-image: -moz-linear-gradient( 90deg, rgb(73,117,99) 0%, rgb(97,152,130) 48%, rgb(121,187,160) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(73,117,99) 0%, rgb(97,152,130) 48%, rgb(121,187,160) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(73,117,99) 0%, rgb(97,152,130) 48%, rgb(121,187,160) 100%);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  text-shadow: 0px 1px 0px rgba(102, 101, 101, 0.004);
}

.navigation-list-item.last .navigation-list-link {
  border-bottom: 1px solid #c5c5c5;
}

.navigation-list-item:last-child .navigation-list-link {
  border-bottom: 1px solid #c5c5c5;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}


.main-content .navigation-list,
.main-content .contacts-list,
.about-me__block .experience-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts {
  font-style: normal;
  overflow: hidden;
  font-family: "OpenSansRegular";
}

.contacts .contacts-header {
  font-family: "OpenSansSemiBold";
  font-size: 1.5em;
  margin: 0;
  color: #d0982c;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  padding: 7px 25px 7px 25px;
  border: 1px solid #caa152;
  background-color: #e8bf6e;
  background-image: -moz-linear-gradient( 90deg, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
  background-image: -webkit-linear-gradient( 90deg, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
  background-image: -ms-linear-gradient( 90deg, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.17),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.contacts .contacts-list-item {
  position: relative;
}


.contacts .contacts-list-item:before {
content: "";
  display: block;
  position: absolute;
  background-color: #dcb15d;
  width: 1px;
  height: 58%;
  left: 53px;
  top: -2px;
  transform: rotate(-24deg);
  z-index: 10;
}

.contacts .contacts-list-item:after {
  content: "";
  position: absolute;
  background-color: #dcb15d;
  width: 1px;
  height: 58%;
  left: 53px;
  bottom: -2px;
  transform: rotate(24deg);
  z-index: 8;
}

.contacts .contacts-list-link {
  display: block;
  text-decoration: none;
  color: #727070;
  padding: 8px 15px 10px 70px;
  font-size: 1em;
  position: relative;
  background-color: #fcfbfb;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid rgb(214, 213, 211);
  border-bottom: 0;
  background-image: -moz-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
}

.contacts-list-item.last-item .contacts-list-link{
  border-bottom: 1px solid rgb(214, 213, 211);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.contacts .contacts-list-link:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(224,197,145) 0%, rgba(251,249,249,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(224,197,145) 0%, rgba(251,249,249,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(224,197,145) 0%, rgba(251,249,249,0) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
}

.contacts .contacts-list-link {
  position: relative;
}

/*.contacts .contacts-list-link:hover {
  text-decoration: underline;
}
koro4e Zaru eto ne ponravilos
*/

.contacts .contacts-list-link:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 18px;
  background: url(../img/spritebox-1.png) no-repeat;
  background-position: -0px -5px;
  height: 12px;
  width: 16px;
  display: block;
  margin-top: -6px;
}

.contacts .contacts-list-link.link-phone:before {
  background-position: -76px -4px;
  height: 21px;
  width: 16px;
  margin-top: -10.5px;
}

.contacts .contacts-list-link.link-skype:before {
  background-position: -36px -4px;
  height: 19px;
  width: 19px;
  margin-top: -9.5px;
}

/* END SIDEBAR */


/* ABOUT-ME */

.about-me .about-me__block {
  overflow: hidden;
  margin-bottom: 35px;
}

.about-me__block .about-me__header {
  font-size: 1.714285714em;
  padding: 10px 43px 12px 42px;
  letter-spacing: 0;
  color: #eeedec;
  margin: 0;
  text-shadow: 0px 1px 0px rgba(102, 101, 101, 0.004);
  background-color: #929090;
  background-image: -moz-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  border-left: 1px solid #6b6b6b;
  border-top: 1px solid #9c9c9c;
  border-right: 1px solid #707070;
  border-bottom: 1px solid #636363;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.desc-content {
  max-width: 380px
}

.desc-content .desc-content-items,
.skills .skills-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-me__block .about-me__desc {
  padding: 31px 40px 37px 44px;
  color: #727070;
  background-color: #f6f5f5;
  line-height: 1.4em;
  border: 1px solid #ccc;
  letter-spacing: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.about-me__block .about-me__desc.main-info {
  padding-bottom: 28px;
}


.about-me__desc .desc-avatar {
  margin-top: 7px;
}

.desc-avatar .avatar-box{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 8px solid #fff;
  /*background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(128,128,128) 51%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(128,128,128) 51%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(128,128,128) 51%, rgb(255,255,255) 100%);*/
 box-shadow: 0px 0px 1px 1px rgba(182, 182, 182, .67);
}

.avatar-box .avatar-img {
  border-radius: 50%;
  max-width: 100%;
}

.desc-content-item .executor,
.desc-content-item .age,
.desc-content-item .city,
.desc-content-item .specialization {
  margin-right: 8px;
}


.desc-content .desc-content-item {
  padding-bottom: 6px;
}

.desc-content-items .desc-content-item-last {
  padding-bottom: 16px;
}

.skills .skills-header {
  max-width: 142px;
}

.skills .skills-items {
  max-width: 243px;
  padding-top: 3px;

}

.desc-content-item .specialization {
  max-width: 155px;
}

.desc-content .executor,
.desc-content .age {
  max-width: 100px;
}
.desc-content-item .city {
  max-width: 90px;
}

.desc-content-item .city-name,
.desc-content-item .age-number,
.desc-content-item .author,
.specialization-name {
  max-width: 200px;
  font-family: "OpenSansRegular";
}

.skills .skills-item {
  background-image: -moz-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  border-radius: 3px;
  color: #1e7465;
  font-size: 9px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: inline-block;
  vertical-align: top;
  padding: 0px 8px 0px 6px;
  box-shadow: -1px 2px 2px rgba(0,0,0,.05);
  margin-bottom: 9px;
  line-height: 16px;
  position: relative;
  margin-left: 14px;
}

.skills .skills-item:before{
    content: "";
    width: 8px;
    height: 18px;
    display: block;
    background-image: url(../img/label.png);
    position: absolute;
    left: -8px;
    top: -1px;
}


.experience-list .experience-item {
  padding-left: 94px;
  position: relative;
  padding-top: 25px;
  padding-bottom: 30px;
}

.experience-item .experience-date {
  font-family: "OpenSansRegular";
}

.experience-list .experience-item:before {
  content: "";
  position: absolute;
  left: -2px;
  width: 53px;
  height: 53px;
  background: #f7f7f7 url(../img/spritebox-sprite.png) no-repeat;
  background-position: -232px -117px;
  top: 50%;
  margin-top: -27.5px;
  box-shadow: -1px -1px 1px rgba(199, 199, 199, .75), 0px 1px 1px white;
  border-radius: 50%;
}


.experience-list .experience-item:first-child:before {
  left: -3px;
  margin-top: -33.5px;
}

.experience-list .experience-item.school:before {
 background-position: -317px -196px;
}

.experience-list .experience-item.graduate:before {
  background-position: -314px -114px;

}

.about-me__block.education .experience-item.author:before {
  background-position: -234px -196px;
}

.experience-list .experience-item:first-child {
  padding-top: 14px;
  padding-bottom: 32px;
}

.experience-list .experience-item.author {
  padding-top: 15px;
  padding-bottom: 11px;
}

.experience-list .experience-item:after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: rgb(246, 245, 244);
  box-shadow: inset 0px 1px 1px 0px rgba(128, 128, 128, 0.29);
  width: 100%;
  left: 0;
  bottom: 0;
  overflow: visible;
}

.experience-list .experience-item:last-child {
  padding-bottom: 0;
}
.experience-list .experience-item.secure:before {
  margin-top: -11.5px;
}


.experience-list .experience-item.secure:after {
  content: "";
  display: none;
}


/* END ABOUT-ME */


.main-footer {
  font-family: "OpenSansLight";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
  background-color: #fafafa;
  box-shadow: 0px 1px 0px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 12px;
  color: #727070;
  min-width: 1200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-footer>.container {
  position: relative;
}

.lock-block {
  position: relative;
}

.lock-block .lock {
  position: absolute;
  left: 166px;
  top: 18px;
  text-decoration: none;
  font-weight: 700;
  color: #a2a2a2;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.85);
  padding-left: 28px;
  font-size: 14px;
  font-family: "OpenSansBold";
  line-height: 20px;
}

.lock-block .lock:before {
  content: "";
  position: absolute;
  left: 0;
  width: 19px;
  height: 22px;
  background: url(../img/spritebox-sprite.png) no-repeat;
  background-position: -156px -71px;
}


.lock-block .lock:hover:before {
  background-position: -183px -70px;
  width: 23px;
}

.copyright {
  padding-top: 20px;
  margin: 0 250px;
  font-size: 12px;
  line-height: 18px;
}
