.about-me__block.works .works-items{
  margin: 0;
  padding: 0;
  list-style: none;
}

.works-items .works-item {
  width: 167px;
  text-align: center;
  border: 1px solid #b8b8b8;
  box-shadow: 0px 2px 2px rgba(9, 9, 9, 0.07);
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 6px;
  margin-right: 30px;
  margin-bottom: 28px;
}


.works-item .work-item-link {
  border-bottom: 1px solid #b8b8b8;
  background-color: black;
}

@keyframes fadeIn{
  from{
    opacity: .5;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeOut{
  from{
    opacity: 1;
  }
  to{
    opacity: .5;
  }
}

.work-item-link .work-item-img{
  animation: fadeOut .5s forwards;
}

.work-item-link .work-item-img:hover{
  animation: fadeIn .5s forwards;
}

.about-me__block .about-me__desc.works {
    padding: 37px 8px 38px 41px;
}


.works-items .work-link {
  font-family: "OpenSansSemiBold";
  display: block;
  font-size: 13.35px;
  line-height: 22.6px;
  text-decoration: none;
  color: #727070;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
  background-color: #f2f2f2;
  padding-top: 5px;
  padding-bottom: 6px;
}


.works-items .work-desc {
  font-family: "OpenSansLight";
  font-size: 12px;
  line-height: 16px;
  padding: 0 5px;
  padding-bottom: 10px;
  background-color: #fff;
  padding-top: 7px;
}

.works-items .works-item.add-project {
  min-height: 132px;
}

.works-item.add-project .project {
  text-decoration: none;
  color: #727070;
  font-weight: 600;
  display: block;
  padding-top: 91px;
  padding-bottom: 22px;
  position: relative;
  letter-spacing: 0;
}


.works-item.add-project .project:before {
  content: "";
  background: url(../img/polaroid.png) no-repeat;
  position: absolute;
  top: 27px;
  left: 56px;
  width: 53px;
  height: 55px;
}

.works-item.add-project .project:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
}
